{% load i18n %}
{% load static %}
<!-- BG Image -->
        <div class="background-img grain-img">
            <img class="" src="{% static 'img/16.png' %}" alt="">
        </div>
        <!-- End BG Image -->
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row justify-content-center">
                <!-- Column -->
                <div class="col-12 col-md-11 col-lg-10">
                    <div class="block-content gap-one-top-lg">
                        <ul class="block-tabs">
                            <li class="active">{% trans 'Cold Beverages &amp; Cocktails' %}</li>
                            <li>{% trans 'Coffee &amp; Teas' %}</li>
                            <li>{% trans 'Venetian Food , Snacks and More' %}</li>
                        </ul>
                        <ul class="block-tab">
                            <!-- Menu List -->
                            <li class="active block-list mt-5">
                                <!-- Row -->
                                <div class="row">
                                    <!-- Left Column -->
                                    <div class="col-sm-6">
                                        <!-- Content -->
                                        <!-- Iced Coffee -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Iced Coffee' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Freshly brewed Iced Coffee Blend served chilled and lightly sweetened over ice.' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Iced Coffee -->
                                        <!-- Irish Coffee -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Irish Coffee' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'We follow the original recipe: hot coffee with Irish Whiskey and mounted cream on top.' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Irish Coffee -->
                                        <!-- Casanova -->
                                        <div class="block-content last">
                                            <h5 class="uppercase">{% trans 'Casanova' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Cofee Shake with Almond syrup and coffee beans on top' %}</p>
                                        </div>
                                        <!-- End Casanova -->
                                    </div>
                                    <!-- Right Column -->
                                    <div class="col-sm-6">
                                        <!-- Content -->
                                        <!-- Mojito -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Mojito' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'A Cocktail that consists of five ingredients: White Rum, Sugar(Sugar Cane) Lime juice, Soda Water and Mint' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Mojito -->
                                        <!-- Hugo -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Hugo' %}</h5>
                                            <p class="mb1 mt-1">{% trans 'A Cocktail that consists of four ingredients: Prosecco Wine, Sambucus Elderberry Syrup, Soda Water and Mint' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Hugo -->
                                        <!-- Venetian Spritz -->
                                        <div class="block-content last">
                                            <h5 class="uppercase">{% trans 'Spritz Veneziano' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'The real venetian recipe. Prosecco Wine, Campari and Soda Water' %}</p>
                                        </div>
                                        <!-- End Spritz -->
                                    </div>
                                </div>
                            </li>
                            <!-- End Cold Beverages and Cocktails -->
                            <!-- Coffees and Teas -->
                            <li class="block-list mt-5">
                                <!-- Row -->
                                <div class="row">
                                    <!-- Left Column -->
                                    <div class="col-sm-6">
                                        <!-- Espresso -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Espresso' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Cofee brewed by expressing or forcing nearly boiling water under pressure through finely ground cofee beans.' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Espresso -->
                                        <!-- Americano -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Americano' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Coffee drink prepared by diluting an Espresso with hot water, giving it a similar strength to, but different flavour from traditionally brewed coffee' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Americano -->
                                        <!-- Cappuccino -->
                                        <div class="block-content last">
                                            <h5 class="uppercase">{% trans 'Capuccino' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Espresso based coffee drink prepared with double espresso and steamed milk foam' %}</p>
                                        </div>
                                        <!-- End Cappuccino -->
                                    </div>
                                    <!-- Right Column -->
                                    <div class="col-sm-6">
                                        <!-- Earl grey -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Earl Grey' %}</h5>
                                            <p class="col-mb-1 mt-1">{% trans 'Tea blend wich has been flavoured with the addition of Oil of Bergamot' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Earl grey -->
                                        <!-- Masala Chai -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Masala Chai' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Flavoured tea beverage made by brewing black tea with a mixture of aromatic Indian spices and herbs' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Masala Chai -->
                                        <!-- Green Tea -->
                                        <div class="block-content last">
                                            <h5 class="uppercase">{% trans 'Green Tea' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Type of Tea made from Camelia Sinesis (tea plant) leaves that have not undergone the same process used to make oolong teas andblack teas' %}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- End Coffee and Teas -->
                            <!-- Venetian Food and Snacks -->
                            <li class="block-list mt-5">
                                <!-- Row -->
                                <div class="row">
                                    <!-- Left Column -->
                                    <div class="col-sm-6">
                                        <!-- Tramezzino -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Tramezzino' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Triangular italian sandwich constructed from two slices of soft milk based white bread with no crusts' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Tramezzino -->
                                        <!-- Club Sandwich -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Club Sandwich' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Sandwich of bread (occasionally toasted), Bacon, lettuce, tomato and mayonnaise.' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Club Sandwitch -->
                                        <!-- Piadina -->
                                        <div class="block-content last">
                                            <h5 class="uppercase">{% trans 'Piadina' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Italian Flatbread typically prepared in Romagna historical region. Made with white flour, lard, olive oil, salt and water.' %}</p>
                                        </div>
                                        <!-- End Piadina -->
                                    </div>
                                    <!-- Right Column -->
                                    <div class="col-sm-6">
                                        <!-- Cicchetti -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Cicchetti' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Small snacks or side dishes typically served in traditional <strong>bàcari</strong> (osterie) in Venice' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Cicchetti --
                                        <!-- Hamburger -->
                                        <div class="block-content mb-4 pb-4">
                                            <h5 class="uppercase">{% trans 'Hamburger' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'A sandwich consisting of one or more cooked ground meat (beef), placed inside a sliced bread roll. Completely Customizable' %}</p>
                                            <span class="dots"></span>
                                        </div>
                                        <!-- End Hamburger -->
                                        <!-- Baccalà Mantecato -->
                                        <div class="block-content last">
                                            <h5 class="uppercase">{% trans 'Baccalà Mantecato' %}</h5>
                                            <p class="mb-1 mt-1">{% trans 'Stockfish skinned, boiled and literally beaten to a pulp as olive oil is drizzled <i>al filo</i> seasoned little salt and fresh parsley' %}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->