{% load i18n %}
{% load static %}
    <div class="block-map">
        <div id="map" class="map gap-before"></div>
    </div>
    <!-- Container -->
    <div class="container block-contact">
        <div class="row">
            <div class="col-md-5 offset-md-7 offset-xs-7">
                <h1 class="uppercase text-white mb-4">{% trans 'Get in Touch with us' %}</h1>
                <div class="block-info mb-30">
                    <p class="text-white lead mb-0">
                        {% trans 'We are open from 7am to 8pm on Mon, Tue, Thu, Fri <br />Sat, 7am - 2am<br />Sun 8.30am - 10pm .' %}
                        <br /><br />
                        via Settimio Soprani 5, 60022 Castelfidardo (AN)
                        <br />
                        <span class="text-white">(+39) 345-597-7734</span>
                        <br />
                        <br />
                        <span><a href="mailto:info@venice-bar.it">info@venice-bar.it</a> </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <div class="poly-contact"></div>