{% load i18n %}
{% load static %}
         <!-- As a general rule, including a heading (h1-h6) as a child of each section and article element for screen readers purposes-->
            <h2 class="indent">{% trans 'Gallery' %}</h2>
            <div class="block-masonry">
                <!-- Image -->
               <div class="col-lg-3 col-md-6 col-12 block-item-masonry gap-before">
                  <div class="block-item height-41 ">
                     <a href="{% static 'img/12.jpg' %}" class="popup-image">
                        <div class="background-img animated">
                           <img class="" src="{% static 'img/12.jpg' %}" alt="">
                        </div>
                     </a>
                  </div>
               </div>
                <!-- End Image -->
                <!-- Image -->
               <div class="col-lg-3 col-md-6 col-12 block-item-masonry gap-before">
                  <div class=" block-item height-41 ">
                     <a href="{% static 'img/13.jpg' %}" class="popup-image">
                        <div class="background-img animated">
                           <img class="animated" src="{% static 'img/13.jpg' %}" alt="">
                        </div>
                     </a>
                  </div>
               </div>
                <!-- End Image -->
                <!-- Image -->
               <div class="col-lg-6 col-md-6 col-12 block-item-masonry">
                  <div class=" block-item height-82 ">
                     <a href="{% static 'img/10.jpg' %}" class="popup-image">
                        <div class="background-img animated">
                           <img class="animated" src="{% static 'img/10.jpg' %}" alt="">
                        </div>
                     </a>
                  </div>
               </div>
                <!-- End Image -->
                <!-- Image -->
               <div class="col-lg-3 col-md-6 col-12 masonry block-item-masonry gap-before gap-after">
                  <div class=" block-item height-41 ">
                     <a href="{% static 'img/11.jpg' %}" class="popup-image">
                        <div class="background-img animated">
                           <img class="animated" src="{% static 'img/11.jpg' %}" alt="">
                        </div>
                     </a>
                  </div>
               </div>
                <!-- End Image -->
                <!-- Image -->
               <div class="col-lg-3 col-md-6 col-12 masonry block-item-masonry gap-before gap-after">
                  <div class=" block-item height-41 ">
                     <a href="{% static 'img/14.jpg' %}" class="popup-image">
                        <div class="background-img animated">
                           <img class="animated" src="{% static 'img/14.jpg' %}g" alt="">
                        </div>
                     </a>
                  </div>
               </div>
                <!-- End Image -->
            </div>
            <!-- End Block Images -->