{% load i18n %}
{% load static %}
<!-- BG Image -->
        <div class="background-img">
            <img src="{% static 'img/8.jpg' %}" alt="">
        </div>
        <!-- End BG Image -->
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row justify-content-md-end">
                <!-- Column -->
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <!-- Block Content -->
                    <div class="block-content review-content text-center front-p">
                        <img src="{% static 'img/grains.png' %}" alt="">
                        <!-- Rreview Slider -->
                        <div class="review-slider flexslider">
                            <ul class="slides">
                                <!-- Review -->
                                <li>
                                    <div class="block-review w75 m-auto">
                                        <h4 class="uppercase">Federica Gigli</h4>
                                        <p>Ottimo bar, aperitivi super, bravissimi andate avanti cos&igrave;</p>
                                        <!-- Stars -->
                                        <ul class="block-star list-inline">
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                        </ul>
                                    </div>
                                </li>
                                <!-- End Rreview -->
                                <!-- Review -->
                                <li>
                                    <div class="block-review w-75 m-auto">
                                        <h4 class="uppercase">Alessandro Marconi</h4>
                                        <p>Bar molto accogliente con personale molto qualificato. Doveva esserci molto prima!</p>
                                        <!-- Stars -->
                                         <ul class="block-star list-inline">
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                            <li class="list-inline-item"><i class="icon-star"></i> </li>
                                        </ul>
                                    </div>
                                </li>
                                <!-- End review -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->