
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Metas -->
      <meta charset="utf-8">
      <title>CoffeeBen - Coffee Shop and Pastry Template</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Css -->
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
      <link href="css/base.css" rel="stylesheet" type="text/css" media="all"/>
      <link href="css/main.css" rel="stylesheet" type="text/css" media="all"/>
      <link href="css/flexslider.css" rel="stylesheet" type="text/css"  media="all" />
      <link href="css/magnific-popup.css" rel="stylesheet" type="text/css"  media="all" />
      <link href="css/fonts.css" rel="stylesheet" type="text/css"  media="all" />
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet"> 
   </head>
   <body>
      <!-- Preloader -->
      <div class="loader">
         <!-- Preloader inner -->
         <div class="loader-inner">
            <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
               <circle class="spinner" cx="50" cy="50" r="21" fill="#212932" stroke-width="4"/>
            </svg>
         </div>
         <!-- End preloader inner -->
      </div>
      <!-- End preloader-->
      <!--Wrapper-->
      <div class="wrapper">
         <!--Hero section-->
         <section class="hero">
         
         	<!-- As a general rule, include a heading (h1-h6) as a child of each section and article element for screen readers purposes-->
            <h2 class="indent">Hero</h2>
            <!--Main slider-->
            <div class="main-slider slider flexslider">
               <ul class="slides">
                  <li>
                     <div class="background-img overlay zoom">
                        <img src="img/1.jpg" alt="">
                     </div>
                  </li>
                  <li>
                     <div class="background-img overlay zoom">
                        <img src="img/2.jpg" alt="">
                     </div>
                  </li>
               </ul>
            </div>
            <!--End main slider-->
            <!--Header-->
            <header class="header default">
               <div class=" left-part">
                  <a class="logo scroll" href="#wrapper">
                  <img src="img/logo.png" alt="">
                  </a>
               </div>
               <div class="right-part">
                  <nav class="main-nav">
                     <div class="toggle-mobile-but">
                        <a href="#" class="mobile-but" >
                           <div class="lines"></div>
                        </a>
                     </div>
                     <ul class="main-menu list-inline">
                        <li><a class="scroll list-inline-item" href="#about">about</a></li>
                        <li><a class="scroll list-inline-item" href="#menu">menu</a></li>
                        <li><a class="scroll list-inline-item" href="#offer">Offer</a></li>
                        <li><a class="scroll list-inline-item" href="#location">Location</a></li>
                        <li><a class="scroll list-inline-item" href="#reservation">Reservation</a></li>
                        <li><a class="scroll list-inline-item" href="#gallery">Gallery</a></li>
                        <li><a class="scroll list-inline-item" href="#contact">Contact</a></li>
                     </ul>
                  </nav>
               </div>
            </header>
            <!--End header-->
            <div class="inner-hero">
               <!--Container-->
               <div class="container hero-content">
                  <!--Row-->
                  <div class="row">
                     <div class="col-sm-12 text-center">
                        <h1 class="large uppercase mb-0">Coffee Drinks &amp; Pastry</h1>
                        <h5 class="uppercase mb-0 alt-font h6">making coffee drinks &amp; pastry since 1998</h5>
                     </div>
                  </div>
                  <!--End row-->
               </div>
               <!--End container-->
            </div>
            <div class="poly-slider"></div>
         </section>
         <!--End hero section-->
         <!--About section-->
         <section id="about" class="main md-top bg-light">
         </section>
         <!--End about section-->
         <!--Divider section-->
         <section id="menu" class="overlay divider bg-light">
         </section>
         <!--End divider section-->
         <!--Menu section-->
         <section   class="menu main pattern bg-light">
         </section>
         <!--End Menu section-->
         <!--Review section-->
         <section  class="overlay review gap-double-md">
         </section>
         <!--End review section-->
         <!--Offer section-->
         <section id="offer" class="main bg-light">
         </section>
         <!--End offer section-->
         <!--Locations section-->
         <section id="location" class="location overlay divider">
         </section>
         <!--End locations section-->
         <!--Reservation section-->
         <section id="reservation" class="main pattern">
         </section>
         <!--End reservation section-->
         <!--Gallery section-->
         <section id="gallery" class="gallery pt-2  bg-light">
         </section>
         <!--End gallery section-->
         <!--Contact section-->
         <section id="contact" class="contact gap-after large-space bg-dark">
         </section>
         <!--End contact section-->
      </div>
      <!-- End wrapper-->